* {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

button {
    border: 1px solid #fff;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: #000;
}

.popup {
    margin-top: 25vh;
    position: fixed;
    padding: 2.5em;
    width: 45vw;
    background: #000;
    color: #fff;
}

.hidden {
    display: none;
}

#notSupported:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -2;
}

#notSupported:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: -1;
    border: 1px solid #fff;
}

.toggle-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: #000;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    z-index: 99;
}

.toggle-container {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}

.toggle-text {
    color: rgba(255, 255, 255, 0.725);
    margin-right: 2vw;
    padding: 0.8em 1.8em;
    text-align: center;
    font-family: inherit;
    line-height: 30px;
    font-size: 16px;
}

.toggle-text:hover {
    color: #fff;
    border-bottom: 5px solid #fff;
}

.active {
    color: #fff;
    border-bottom: 5px solid #fff;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.menu-button {
    margin: 0vh 2vw;
}

/* ************ */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 100%;
}

.column {
    -ms-flex: 33.3333%;
    flex: 33.3333%;
    max-width: 33.3333%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

img:hover {
    -webkit-filter: brightness(40%);
    cursor: pointer;
}

.overlay:hover {
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}