body, html {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 0.85;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    line-height: 38px;
    font-weight: normal;
}

h3 {
    line-height: 30px;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

p {
    line-height: 1.9em;
}

ol {
    line-height: 1.9em;
}

a {
    text-decoration: none;
}

/* BUTTONS */

button {
    margin: 0;
    padding: 0.8em 1.8em;
    text-align: center;
    font-family: inherit;
    line-height: 30px;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

.dark-button {
    border: 1.5px solid #1D1C1A;
    background: none;
    color: #1D1C1A;
}

.dark-button:hover {
    border: 1.5px solid #1D1C1A;
    background-color: #1D1C1A;
    color: #ECECEC;
}

.light-button {
    border: 1.5px solid #ECECEC;
    background: none;
    color: #ECECEC;
}

.light-button:hover {
    border: 1.5px solid #ECECEC;
    background-color: #ECECEC;
    color: #1D1C1A;
}

.arrow-button {
    position: absolute;
    top: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    padding: 0.6em 0.9em;
}